.navbar {
  height: fit-content;
  display: flex;
  flex-direction: row;

  position: sticky;
  top: 0;
  left: 0;

  z-index: 999999;

  background-color: #0f0f0f;
  padding: 10px;
}

/* LOGO */
.logo {
  flex-basis: 100%;
  min-width: fit-content;

  line-height: 40px;
}

.logo span {
  margin: 0;
  padding: 0;
}

.logo span:nth-child(1) {
  font-size: 40px;
  font-weight: 700;

  background: #a601ff;
  background: linear-gradient(to right, #a601ff 0%, #cf1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo span:nth-child(2) {
  font-weight: 500;
  margin-left: 5px;

  color: rgb(255, 255, 255);
}

/* INPUT */
.input-field {
  flex-basis: 500px;
  min-width: fit-content;
}

.input-container {
  height: 100%;
  width: fit-content;
  margin: 0 auto;
}

.input-field input {
  height: 100%;
  width: 444px;

  box-sizing: border-box;
  padding: 0px 10px 0px 10px;

  font-family: "Ubuntu", sans-serif;
  font-weight: 500;

  border: 0;
  border-radius: 25px;

  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 50ms;
}

.input-field input:focus {
  border: 3px solid #ff204e;
  outline: none;
}

/* USER */
.user {
  flex-basis: 100%;
}
