.home-page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.crypto-cards-container {
  width: fit-content;

  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 30px;
  row-gap: 30px;

  padding: 10px;
  margin: 0 auto;
}
